<!--贴文页-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--通知 IE 采用其所支持的最新的模式-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title><%= title %></title>
    <!--<script type="text/javascript" src="/javascripts/lib/jquery.lazyload.js"></script>-->
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/article.css' />
  <!--  <link rel="stylesheet" href="/stylesheets/common.css">-->

    <script data-main="/javascripts/config/articleConfig.js" src="/javascripts/lib/require.js"></script>

</head>
<body>
<!--背景-->
<div id="backgroundImg"></div>
<%- include header%>
<!--正文区域-->
<div class="container total-background">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 h3" id="articleTitle"><%= Title %></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5" id="articleAuthor"><%= Author %></div>
        <div class="col-md-12" id="articleTime"><%= Date %></div>
    </div>
    <!--内容展示-->
    <div class="row">
        <div class="col-md-12">
            <div id="articleContent"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-5">
            <a class="glyphicon glyphicon-thumbs-up" id="up"><span class="badge"></span></a>
        </div>
        <div class="col-md-1">
            <a class="glyphicon glyphicon-thumbs-down" id="down"><span class="badge"></span></a>

        </div>
    </div>
</div>

<!--评论区-->
<div class="container total-background opacity-almost">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="input-group" id="makeComment">
                <input type="text" class="form-control" placeholder="此处应该有留言..">
                <span class="input-group-addon glyphicon glyphicon-comment"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="comments-wrapper col-md-12">
                <div class="comment-label">评论</div>
            </div>
        </div>
    </div>

</div>
<%- include pageAnchor%>
<!--模态弹窗口组件-->
<%-include modalWindow.ejs%>
<%- include footer%>
</body>
</html>