<!--发表贴文页-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/post.css' />
    <!--<link rel="stylesheet" href="/stylesheets/common.css">-->

    <!--加载Uditor-->
    <script type="text/javascript" src="/Ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/Ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="/Ueditor/lang/zh-cn/zh-cn.js"> </script>

    <script data-main="/javascripts/config/postConfig" src="/javascripts/lib/require.js"></script>

</head>
<body>
<!--header-->
<%- include header%>
<!--背景-->
<div id="backgroundImg"></div>

<!--正文-->
<div class="container total">
    <div class="row">
        <div class="col-md-2 col-md-offset-5 post-title"><%= title %></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1 title border">标题</div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <input id="articleTitle" class="shadow" type="text" placeholder="请输入标题">
        </div>
    </div>

    <!--b站转载-->
    <% if(from == "bilibili") { %>
    <div class="row">
        <div class="col-md-2 col-md-offset-1 title border"> bilibili</div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <input id="bilibiliAV" class="shadow" type="text" placeholder="请输入哔哩哔哩视频AV号">
        </div>
    </div>
    <% } %>

    <!--分类-->
    <div class="row">
        <div class="col-md-2 col-md-offset-1 title border">分类</div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 type">
            <div class="type-other">番剧</div>
            <div class="type-other">贴文</div>
            <div class="type-other">萌物</div>
            <div class="" id="pictureSelect">图片</div>
            <div class="" id="musicSelect">音乐</div>
            <div class="" id="videoSelect">视频</div>
            <div class="type-other">漫画</div>
            <div class="type-other">其它</div>
        </div>
    </div>
    <!--图片预览和视频预览,音乐预览-->
    <div class="row">
        <div class="col-md-10 col-md-offset-1 content-preview" style="display: none">
            <!--list-->
        </div>
    </div>
    <!--标签-->
    <div class="row">
        <div class="col-md-2 col-md-offset-1 title border">标签</div>
    </div>
    <div class="row tags-row">
        <div class="col-md-11 col-md-offset-1 tag-father">
            <div class="tag-div">
                <label class="checkbox-inline"><input type="checkbox" value="激萌" class="tag">激萌</label>
            </div>
            <div class="tag-div">
                <label class="checkbox-inline"><input type="checkbox" value="新人" class="tag">新人</label>
            </div>
            <div class="tag-div">
                <label class="checkbox-inline"><input type="checkbox" value="御宅" class="tag">御宅</label>
            </div>
            <div class="tag-div">
                <label class="checkbox-inline"><input type="checkbox" value="QAQ" class="tag">QAQ</label>
            </div>
            <div class="tag-div">
                <label class="checkbox-inline"><input type="checkbox" value="追番" class="tag">追番</label>
            </div>
            <div class="tag-div">
                <label class="checkbox-inline"><input type="checkbox" value="中二" class="tag">中二</label>
            </div>
            <div class="tag-div">
                <label class="checkbox-inline"><input type="checkbox" value="日常" class="tag">日常</label>
            </div>
            <div class="tag-div">
                <label class="checkbox-inline"><input type="checkbox" value="Coser" class="tag">Coser</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1 border title">简介</div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 input-group">
            <script id="editorAbstract" type="text/plain" class="shadow"></script>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1 border title">正文</div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 input-group">
            <script id="editorContent" type="text/plain" class="shadow"></script>
        </div>
    </div>

    <!--发表贴文-->
    <div class="row">
        <div class="col-md-12" id="sendDiv">
            <button type="button" class="btn btn-default" id="sendArticle">发布 <span class="glyphicon glyphicon-send"></span></button>
        </div>
    </div>
</div>
<!--返回顶部按钮-->
<%- include pageAnchor%>
<%- include footer%>
</body>
<%- include modalWindow%>
</html>